<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="{{ path('home') }}">{{ 'app'|trans }}</a>
            <a class="navbar-brand visible-xs" href="javascript:" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
                {{ 'menu'|trans }}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('register') }}">{{ 'register'|trans }}</a></li>
                <li><a href="{{ path('login') }}">{{ 'login'|trans }}</a></li>
            </ul>
        </div>
    </div>
</nav>
