{% extends 'layouts/master.html.twig' %}

{% block styles %}
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'partials/app_menu.html.twig' %}
    <div class="container">
        <ol class="breadcrumb">
            {% for item in app.breadcrumbs.items %}
                {% if item.route is null or loop.last %}
                    <li class="active">{{ item.text|trans }}</li>
                {% else %}
                    <li><a href="{{ path(item.route, item.params) }}">{{ item.text|trans }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
        {% include 'partials/flash_messages.html.twig' %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
